* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(228, 25, 59) 0%, #24314b 100%);
}

.app {
    min-height: 100vh;
    width: 100vw;
    /* background-color: rgb(30, 213, 245); */
    padding: 10px 20px;
    display: flex;
    border: 2px solid black;
}

.card {
    border: 3px solid black;
    padding: 10px 20px;
    display: inline-block;
    margin: auto;
    width: 500px;
    background-color: white;
}

.card img {
    width: 100%;
}


/* .card {
    background-color: blueviolet;
    border: 2px solid salmon;
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 10px 20px;
} */