* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
}

img {
    width: 100px;
}

.center {
    border: 4px solid rgb(0, 11, 61);
    width: 1050px;
    height: 790px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.card {
    border: 2px solid aqua;
    width: 20%;
    height: 25%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    border: 2px solid deeppink;
    position: absolute;
    padding: 15px;
    backface-visibility: hidden;
}

.back-face {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}


/* .center {
    display: grid;
    background-color: blanchedalmond;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    height: 75px;
    width: 115px;
    background-color: black; 
    border: 2px solid white;
} */