*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  background-color: rgb(73, 73, 233);
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  
}

.app{
  overflow-y: scroll;
  border: 6px solid white;
  border-radius: 10px;
  width: 220px;
  box-shadow: 0 0 10px #000;
  width: 300px;
  margin: auto;
}

.card{
  display: flexbox;
  margin: 4px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: yellowgreen;
  
}

.title{
  font-size: 25px;
}

.para{
  font-size: 18px;
}